/*START OF GENERAL CSS*/ 
* {
    box-sizing: border-box;
    }

body {
    margin-top:0px;
    margin-left:12vw;
    margin-right:12vw;
    }

/*END OF GENERAL CSS*/ 

/* START OF HEADER CSS */
.header {
    min-height: 150px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    border: 1px solid black;
    }
 
.logo {
    float: left;
    min-width: 150px;
    max-height: 150px;
    height:auto;
    width:auto;
    border
    }    

.nametitle {  
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    line-height: 1em;
    vertical-align: text-top;
   /* font-weight: bold; */
    color: black;
    }

.description {
    margin-top: 5px;
    font-size: 1.5em;
    font-family: 'Inconsolata', monospace;
    font-style: italic;
    line-height: 0;
    }

hr {
    position: fixed
    }
          
/* END OF HEADER CSS */

/* NAVIGATION CSS */
.nav {
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: right;
    font-size: 2em;
	margin-top: 15px;
    padding: 15px;
    border: 1px solid black;
    }
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

li {
    display: inline;
    }

a:link, a:visited {
  background-color: lightblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  }

/* END OF NAVIGATION */

/* START OF CONTENT */

.content {
    display: flex;
    flex-flow: row;
    justify-items: flex-start;
    }

/*content-image-box{
    padding: 2.5%;
    width: 40vw;
} */  
  
.contentimage {
    padding: 2.5%;
    width: 40vw;
    } 

.content-text {
    display: flex;
    align-items: center;
    }

.text-content {
    padding: 2.5%;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5em;
    vertical-align: baseline;
    text-indent: 60px;
    }
  
/* END OF CONTENT */

/* START OF SECTION */

.section {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    }

.featureworktext {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    background-color: lightblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }   

.imgbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    }

.imgsection {
   height: 45vh;
   text-align: center;
    }

.imgsection > img {
    height: 32vh;
    }

.sectionintro {
    margin-top: 50px;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Inconsolata', monospace;
    vertical-align: text-top;
    color: darkslategray;
    }

.text-image {
    font-size: 2em;
    line-height: 1em;
    font-family: 'Inconsolata', monospace;
    }

/* .figure {
display: inline-block;
} */

/*END OF SECTION */

/* START OF FOOTER */
footer {
    font-size: 1em;
    text-align: end;
    }
/*END OF FOOTER */

/*.inspect {
      border: 1px solid red;
    }